<?php
$reviewSummary = Mage::getModel('review/review_summary');
$storeStructure = Mage::getSingleton('adminhtml/system_store')->getStoresStructure();
$productId = $this->getProduct()->getId();
$avgRating = 0;
$cumulativeRating = 0;
$storesWithRatings = 0;
foreach($storeStructure as $websiteStructure){
    foreach($websiteStructure[children] as $storeInfo){
        $storeID = $storeInfo[value];
        array_push($storeIds,$storeID);
        $currentRating = $reviewSummary->setStoreId($storeID)->load($productId)->getRatingSummary();
        if ($currentRating) {
            $storesWithRatings++;
        }
        $cumulativeRating = $cumulativeRating + $currentRating;
    }
}

if ($cumulativeRating && $storesWithRatings) {
    $avgRating = $cumulativeRating / $storesWithRatings;
}
?>
<div class="ratings">
    <?php if ($avgRating):?>
        <div class="rating-box">
            <div class="rating" style="width:<?php echo $avgRating ?>%"></div>
        </div>
    <?php endif;?>