#modall {
	left: 20%;
    margin: 0 auto;
    opacity: 0;
    position: fixed;
    top: 15% !important;
    visibility: hidden;
    z-index: 10000;
}
#modall .modal-contentt {
	background: #fff;
	position: fixed;
	z-index:10000;
	padding:15px;
	border-radius:5px;
	border-bottom: 1px solid #e7e7e7;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	width:800px;	
}

.product-popup-left{
	margin-left: 1%;
    margin-right: 1%;
	width: 45%;
	float:left;
	}
.product-popup-left img{ width:100%;margin-top: 47px;}	
.product-popup-right{
	width: 45%;
	margin-left: 1%;
    margin-right: 1%;
	float:left;
}
#modall .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#modall  .btn_close{ float:right;}
.quick_view_btn{
	background: #87CD75 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 41px 58px;
    /* margin: 100px; */
    position: absolute;
    z-index: 1;
    text-decoration: none;
}
.product_quantity {
    clear: both;
    width: 50%;
    float: left;
}
#qty {
    width: 30px;
}


    Rules
    Computed
    Animations
    Fonts

element {

}
.view_full {

    background: #87CD75;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    color: #fff !important;

}
.view_full a{color:#fff;font-weight:bold}
/**************************3July17***************************/
@media only screen and (min-width: 320px) and (max-width:640px) {

	.products-grid > li {
	width: 96.72727% !important;}
	#modall .modal-contentt {
	width: 288px;height: 440px;top: 18px; right:7px;}
	#modall {
	margin-right: 1%;left: 0%;
	margin-left: 5%;
	}
	.product-popup-left {
		width: 40%;}
	.product-popup-left img {
    margin-top: 0px;}
	.product-popup-right {
    width: 100%;}


}
/**
* Inchoo
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so we can send you a copy immediately.
*
* DISCLAIMER
*
* Please do not edit or add to this file if you wish to upgrade
* Magento or this extension to newer versions in the future.
** Inchoo *give their best to conform to
* "non-obtrusive, best Magento practices" style of coding.
* However,* Inchoo *guarantee functional accuracy of
* specific extension behavior. Additionally we take no responsibility
* for any possible issue(s) resulting from extension usage.
* We reserve the full right not to provide any kind of support for our free extensions.
* Thank you for your understanding.
*
* @category Inchoo
* @package SocialConnect
* @author Marko Martinović <marko.martinovic@inchoo.net>
* @copyright Copyright (c) Inchoo (http://inchoo.net/)
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
*/

div.inchoo-socialconnect-facebook{
    float: right;
    height: 30px !important;
    background: transparent url('http://stopmycraving.de/skin/frontend/base/default/inchoo_socialconnect/facebook/images/login-button-left.png') no-repeat top left !important;
}

div.inchoo-socialconnect-facebook-inner{
    height: 30px !important;
    float: left !important;
    margin-left: 30px !important;
    background: transparent url('http://stopmycraving.de/skin/frontend/base/default/inchoo_socialconnect/facebook/images/login-button-inner.png') repeat-x top left !important;
    padding: 0 60px !important;
    text-shadow: 1px 1px #1c376d;
}

div.inchoo-socialconnect-facebook-right{
    float: left !important;
    height: 30px !important;
    width: 3px !important;
    background: transparent url('http://stopmycraving.de/skin/frontend/base/default/inchoo_socialconnect/facebook/images/login-button-right.png') no-repeat top left !important;
}

div.inchoo-socialconnect-facebook-inner a{
    color: #FFFFFF !important;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
    line-height: 30px !important;
}      

.testimonials-container {width:100%}
.testimonials-container .testimonials > div{
	border-bottom: 1px solid #ccc;
    clear: both;
    display: inline-block;
    width: 100%;
}
.testimonials-container .title-box { position: relative;}
.testimonials-container .title-box a {
	position: absolute;
    right: 0;
    text-decoration: none;
    top: 15px;
}
.testimonials-container .title {
	border-bottom: 1px solid #ccc;
    margin: 0 0 30px;
	font-size: 25px;
}
.testimonials-container .testimonials {}
.testimonials-container .testimonials .testimonial-image {
	float: left;
    margin: 10px;
}
.testimonials-container .testimonials .testimonial-text {
	margin: 10px 0 15px;
    min-height: 150px;
}
.testimonials-container .testimonials .testimonial-text .author,
.sidebar-box .sidebar-name{ 
	text-align: right;
    font-style: italic;
}
.testimonials-sidebar{}
.testimonials-sidebar .block-title{}
.testimonials-sidebar .block-content{}
.testimonials-sidebar .block-content .sidebar-box{
    margin: 0 0 10px;
	padding: 10px 5px;
	box-sizing: border-box;
	width: 100% !important;
}
.testimonials-sidebar .block-content .sidebar-box.last{border:0}
.testimonials-sidebar .block-content .sidebar-box .sidebar-media img{width:100%;text-align:center}
.testimonials-sidebar .block-content .sidebar-box .sidebar-text{}
.testimonials-sidebar .block-content .sidebar-box .sidebar-name{}

.testimonials-slider li {height: 200px;}
.testimonials-container.slider .testimonial-item{padding: 5px 10px 0 0;}
.testimonials-container.slider .testimonial-text{padding-top: 5px;}
.testimonials-container.slider .bx-wrapper .bx-pager {text-align: center !important; width: 100% !important;}
.testimonials-container.slider .bx-controls .bx-controls-direction{display:block}
.testimonials-container.slider figure {text-align: center;padding: 0 0 5px;}
.testimonials-container.slider figure img{
	border-radius: 50%;
    display: inline-block;
    width: 70px;
}
.testimonials-container.slider .author{
	font-style: italic;
    text-align: center;
	color: #f5831f;
}
.testimonials-container.slider blockquote::before {
    color: transparent;
    content: "“";
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 57px;
    font-style: normal;
    left: -26px;
    position: absolute;
    top: -3px;
    width: 88px;
}

.testimonial-form ,.testimonial-form textarea {width: 100%;}
.submit-form h4.title { 
	font-size: 22px;
    margin: 0 0 15px;
}
.submit-form .field label {
    display: block;
    margin: 0 0 5px;
}
.submit-form .field input[type='text'] {
    border: 1px solid #ccc;
    height: 20px;
    width: 50%;
}
.submit-form .field {
    margin: 0 0 15px;
}
/* .bx-wrapper .bx-prev{background:#F98719 url("http://stopmycraving.de/skin/frontend/carving/default/css/testimonial/left.png") !important;left: 0px !important;background-repeat: no-repeat !important;background-origin: content-box !important;
    padding: 4px 7px;}
.bx-wrapper .bx-next{background:#F98719 url("http://stopmycraving.de/skin/frontend/carving/default/css/testimonial/right.png") !important;right: -25px !important;background-repeat: no-repeat !important;background-origin: content-box !important;
    padding: 4px 7px;}
.bx-wrapper .bx-controls-direction a{margin-top:-55px !important;} */
/*
/**
* Phxsolution Formbuilder
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so you can be sent a copy immediately.
*
* Original code copyright (c) 2008 Irubin Consulting Inc. DBA Varien
*
* @category   module css
* @package    Phxsolution_Formbuilder
* @author     Murad Ali
* @contact    contact@phxsolution.com
* @site       www.phxsolution.com
* @copyright  Copyright (c) 2014 Phxsolution Formbuilder
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
/* .form-list .input-box {width:450px} */
.product-options {/*border: 1px solid #333;*/}
.formbuilder ul {list-style: none !important; list-style-type: none !important;}
#custom_form .input-text {width:100%}
#custom_form .title_image {text-align: center;}
