<div class="we_love_sec">
<div class="row">
   <div class="col-md-6 col-xs-12 col-sm-12">
    <div class="infriend">
      <div id="invite_form" style="<?php if(isset($_GET['sucmsg'])){echo "display: none";} else { echo "display: block";}?>">
         <div class="form-group">
            <h3>We Love Friends!</h3>
            <p>Invite a friend for 15% off your next order.</p>
         </div>
         <form method="post" id="form-refer-friend" action="<?php echo Mage::getBaseUrl();?>referfriend/">
            <div class="form-group">
              <label>Friend's Name</label>
               <input type="text" name="name" placeholder="" class="form-control input-text required-entry" required />
            </div>
            <div class="form-group">
              <label>Friend's Email</label>
               <input type="email" name="email" placeholder="" class="form-control input-text required-entry validate-email" required />
            </div>
            <input type="submit" name="sub" id="invite_sub" value="Invite" class="button rffrnd">
         </form>
      </div>
      <div id="invite_msg" style="
         <?php if(isset($_GET['sucmsg'])){echo "display: block";} else { echo "display: none";}?>">
         <h3>We Love Friends!</h3>
         <h3 class="thank">THANK YOU!</h3>
         <p>When your friend will register you will receive in your inbox a special treat :)</p>
         <a href="<?php echo Mage::GetBaseUrl();?>customer/account/" id="invite_link">INVITE OTHER FRIENDS</a> 
      </div>
      </div>
   </div>
   <div class="col-md-6 col-xs-12 col-sm-12">
      <ul class="nd_hlp">
         <li>
            <p class="hlp_cstmr">NEED HELP?</p>
         </li>
         <li>
            <p>Email <a href="mailto:info@stopMyCraving.com" class="custmr_suport"> info@stopMyCraving.com</a></p>
         </li>
      </ul>
   </div>
</div>
</div>
<script type="text/javascript">
   //< ![CDATA[
       var customForm = new VarienForm('form-refer-friend');
   //]]>
</script>