<?php
$catalogSearchHelper = $this->helper('catalogsearch');
?>
<div class="block block-sidebar-search">
	<div class="block-title">
  	<strong>
    	<span>Search</span>
    </strong>
  </div>
  <div class="block-content">
    <form id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
      <div class="form-search">
        <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
        <button type="submit" title="<?php echo $this->__('Go') ?>" class="button"><span><span><?php echo $this->__('Go') ?></span></span></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <!--<script type="text/javascript">
        //<![CDATA[
            //var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
            searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete');
        //]]>
        </script>-->
      </div>
    </form>
  </div><!--end .block-content-->
</div><!--end .block-->
