<!-- List all categories and their second level subcategories -->
<div class="block block-list block-categories">
    <!--div id="block-categories" class="block-title active">
        <strong><span>Categories </span></strong>
    </div-->
    <?php // Grid Mode ?>

<div id="leftnav" class="block-content" style="display:block">
    <?php $helper = $this->helper('catalog/category') ?>
    <?php $categories = $this->getStoreCategories() ?>
    <?php if (count($categories) > 0): ?>
	<form method="post" action="<?php echo Mage::getBaseUrl().'shop.html';?>">
	<input type="hidden" name="hidden_cat" value="submit_cat" />
        <ul id="leftnav-tree" class="level0">
            <?php foreach($categories as $category): ?>
                <li class="level0<?php if ($this->isCategoryActive($category)): ?> active<?php endif; ?>">
                    <!--a href="<?php echo $helper->getCategoryUrl($category) ?>"><span><?php //echo $this->escapeHtml($category->getName()) ?></span></a-->
                    <?php //if ($this->isCategoryActive($category)): ?>
                        <?php $subcategories = $category->getChildren() ?>
                        <?php if (count($subcategories) > 0): ?>
                            <ul id="leftnav-tree-<?php echo $category->getId() ?>" class="level1">
                                <?php foreach($subcategories as $subcategory): ?>
                                    <li class="level1<?php if ($this->isCategoryActive($subcategory)): ?> active<?php endif; ?>">
                                        <a href="javascript:void(0)<?php //echo $helper->getCategoryUrl($subcategory) ?>" class="accd accordion_head"><?php echo $this->escapeHtml(trim($subcategory->getName(), '- ')) ?><span class="plusminus fa fa-minus"></span></a>
                                         <?php $secondLevelSubcategories = $subcategory->getChildren() ?>
                                         <?php if (count($secondLevelSubcategories ) > 0): ?>
                            <ul id="leftnav-tree-<?php echo $subcategory->getId() ?>" class="level2 accordion_body">
							<?php 
							if(isset($_POST['cat'])){
								$favorate=array();
								$favorate=$_POST['cat'];
							}else{	
								if(Mage::getSingleton('customer/session')->isLoggedIn())
								{
									$customer = Mage::getSingleton('customer/session')->getCustomer();
									$userid=$customer->getId();
									$connection = Mage::getModel('core/resource')->getConnection('core_read');
									$sql = 'SELECT * FROM user_fav_cat where user_id='.$userid;
									$favCat = $connection->fetchAll($sql);
									$favorate=array();
									if(!empty($favCat)){	
											foreach($favCat as $fav){
											 $favorate[]=$fav['cat_id'];
											 }
										 //print_r($favorate);
										} 
								}
								else{
									$toalcnt=Mage::getSingleton('core/session')->gettotalselection();
									$session = Mage::getSingleton("core/session",  array("name"=>"frontend"));
									for($i=1;$i<=$toalcnt;$i++){
										echo "<p style='display:none;'>".$session->getData('value'.$i)."</p>";
									 $favorate[]=$session->getData('value'.$i);
									}
								}
							}

?>
                         <?php foreach($secondLevelSubcategories as $secondLevelSubcategory ): ?>
                                    <li class="level2<?php if ($this->isCategoryActive($secondLevelSubcategory )): ?> active<?php endif; ?>">
                                        <a href="javascript:void(0)"><label class="mah_label"><input value="<?php echo $secondLevelSubcategory ->getId(); ?>" name= "cat[]" type="checkbox" <?php


										
										echo ((in_array($secondLevelSubcategory->getId(),$favorate))?'checked="checked"':'') 
										
										
										?> class="check_<?php echo $secondLevelSubcategory ->getId(); ?>  pst_formcheck" /><span></span><?php echo $this->escapeHtml(trim($secondLevelSubcategory ->getName(), '- ')) ?></label></a>
										

																
                                    </li>
                                    <?php endforeach; ?>
                            </ul>
                            <script type="text/javascript">decorateList('leftnav-tree-<?php echo $category->getId() ?>', 'recursive')</script>
                        <?php endif; ?>
                                <?php endforeach; ?>
								</li>
                            </ul>
                            <script type="text/javascript">decorateList('leftnav-tree-<?php echo $category->getId() ?>', 'recursive')</script>
                        <?php endif; ?>
                    <?php //endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
		</form>
		<script>
		    jQuery(document).ready(function(){
				jQuery('.pst_formcheck').click(function(){
					  jQuery(this).closest("form").submit();
					    jQuery(this).closest("form").delay(20000).submit();
					   /*setTimeout(function() {
							 alert('hello');
							 jQuery(this).closest("form").submit();
						 }, 1000);*/
				})
			
			});

			</script>
        <script type="text/javascript">decorateList('leftnav-tree', 'recursive')</script>
    <?php endif; ?>
</div>
</div>