	<div class="container-fluid">
		<div class="row">
			<div class="signinbg">
				<!-- <div class="text-center">  -->
							<div class="nv_container">
								<div class="col-md-12 col-sm-12 pd0">
								<form  class="form-horizontal" >
									<div class="hdgtop">
									  <p class="hdgtext">To save or update your preferences for next time, sign up orsign in today.
                                      Don’t worry, your preferences will still be saved going to the shop</p>
									</div>
									 <div class="frm_cont">
									   
										<div class="col-md-6 col-sm-6 nv_lft">
										   <div class="form-group">
											  <label class="control-label col-sm-4" for="email">User Name:</label>
											  <div class="col-sm-8">
												<input type="text" class="form-control" id="ajaxemail" placeholder="Jon" name="email">
											  </div>
											</div>
											<div class="form-group">
											  <label class="control-label col-sm-4" for="pwd">Password:</label>
											  <div class="col-sm-8">          
												<input type="password" class="form-control" id="ajaxpwd" placeholder="******" name="pwd">
											  </div>
											</div>
											  <div class="form-group">
											  <a class="control-label col-sm-7 frg_Pass" href="<?php echo $this->getBaseURL();?>customer/account/forgotpassword">Forget Your Password?</a>
											  <div class="col-sm-5">          
												<button type="button" class="btn btn-default nv_btn ajxlogin" onclick="ajaxlogin()">Login</button>
											  </div>
											</div>
										</div>
										
										
										<div class="col-md-6 col-sm-6 nv_rgt">
										   
										    <button type="button" class="btn btn-default nv_btn" onclick="setLocation('<?php echo $this->getBaseURL();?>customer/account/create/')">Sign Up</button>
										</div>
										
									</div>	
									
								   </form>	
                                    <div class="col-md-12 col-sm-12 nv_btm">
									    <span>OR</span>
									    <button type="button" class="btn btn-default nv_btn shopbtn">Go to Shop</button>
									 </div>
								</div>
							</div>
					
					
				
				</div>
			</div>
		</div>
	</div>
	