
<div class="icon">
	<?php 
	$root = Mage::app()->getStore()->getRootCategoryId();
	$categories = Mage::getModel('catalog/category')->getCollection()
		->addAttributeToSelect('*')
		->addAttributeToFilter('is_active', 1) //only active categories
		->setOrder('position', 'ASC');
		if(Mage::getSingleton('customer/session')->isLoggedIn()){
								$customer = Mage::getSingleton('customer/session')->getCustomer();
								$userid=$customer->getId();
								$connection = Mage::getModel('core/resource')->getConnection('core_read');
								$sql = 'SELECT * FROM user_fav_cat where user_id='.$userid;
								$favCat = $connection->fetchAll($sql);
								$favorate=array();
								if(!empty($favCat)){	
										foreach($favCat as $fav){
										 $favorate[]=$fav['cat_id'];
										 }
									 //print_r($favorate);
									} 
		}else{
		   $favorate = array();
		}
	?>
	<form method="post" action="<?php echo Mage::getBaseUrl().'shop.html';?>">
		<input type="hidden"  name="catfil" value="post_auth_url"/>
		<ul class="filter-home-cat">
			<?php foreach ($categories as $category) :?>

			<li class="hid_<?php echo $category->getId();?>"><input class="hidden" type="checkbox" name="cat[]" value="<?php echo $category->getId();?>" <?php


										
										echo ((in_array($category->getId(),$favorate))?'checked="checked"':'') 
										
										
										?> />
				<?php $image = Mage::getBaseUrl('media').'catalog/category/'.$category->getData('image_path');?>
				<img data-csrc="<?php echo $image;?>" src="<?php  if(in_array($category->getId(),$favorate)){echo $image;}else{echo $category->getImageUrl();} ?>" data-dsrc="<?php echo $category->getImageUrl();?>" class="cat-default-img <?php  if(in_array($category->getId(),$favorate)){ echo 'filter-home-cat-img';} ?>"/>		
				<span><?php echo $category->getName();?></span>
			</li>
			<?php endforeach;?>
		</ul>
		<div class="seepro" style='display:none;'><input type="button" value=" EXPLORE PRODUCTS" class="submit_cat"/></div>
		<?php /*
				if($_SERVER['REMOTE_ADDR']=='182.69.119.130')
				{
					echo '122.163.194.221';
				?>
				<
	<?php }*/
	?>
	<div class="seepro">
		<a href="<?php echo $this->getUrl('shop') ?>">Show me the snacks!</a>
	</div>
				
			<div class="popuptext loginpop" id="myPopup"></div>
	</form>
</div>
<script>


	jQuery(document).on('click', '.shopbtn', function() { 
	//newfunc();
		var $th=jQuery(this);
			var url="https://stopmycraving.com/shop.html";
		var cat=$th.closest('form').serialize();
		var $f=$th.closest('form');$th.attr('disabled',true);
		var url="https://stopmycraving.com/shop.html";
		jQuery.ajax({url:'<?php echo Mage::getBaseUrl()?>quickview/index/setoptions',dataType:'json',type:'post',data:cat,success:function(r){
			if(r.success){
             // $f[0].submit();		
			 window.location=url;		
			}
	console.log('setoptionssuccess'); //newfunc();
		}
		});
	
	});
	//ajax login
	function ajaxlogin()
	{
		//jQuery(document).on('click', '.ajxlogin', function() { 
	var email=jQuery('#ajaxemail').val();
	var oswd=jQuery('#ajaxpwd').val();
//	var $th=jQuery(this);
	//		var url="https://stopmycraving.com/shop.html";
	//	var cat=$th.closest('form').serialize();
		//var $f=$th.closest('form');$th.attr('disabled',true);
		console.log('ajaxlogin');
		var str='';
		jQuery(".filter-home-cat   input[type='checkbox']")  // for all checkboxes
    .each(function() {  // first pass, create name mapping
        console.log('cat:'+jQuery(this).val());
		if (jQuery(this).is(':checked')) {
			str+=jQuery(this).val()+',';
		}
    });
	console.log('ajaxlogin1'+str);
		jQuery.ajax({url:'<?php echo Mage::getBaseUrl()?>quickview/index/login',dataType:'json',data:{'cat':str,'email':email,'password':oswd},type:'post',success:function(r){
			if(r.success){
            console.log('success');
			 window.location="https://stopmycraving.com/customer/account";
			}
	
		}
		});
	
	}

jQuery(document).ready(function(){	
    jQuery(".filter-home-cat img").click(function(){
           if (!jQuery(this).siblings('input').is(':checked')) {
				jQuery(this).siblings('input').attr('checked', true); 
			} else {
				jQuery(this).siblings('input').removeAttr('checked');  
			}
		//jQuery(this).siblings('input').attr('checked', true);
		var clk=jQuery(this).data('csrc');
		var dsrc=jQuery(this).data('dsrc');
        jQuery(this).toggleClass('filter-home-cat-img');
		if(jQuery(this).hasClass('filter-home-cat-img')){
			jQuery(this).attr('src',clk);
		}else{
			jQuery(this).attr('src',dsrc);
		}
    });
	jQuery(".submit_cat").click(function(){
		var $th=jQuery(this);
		var cat=$th.closest('form').serialize();
		var $f=$th.closest('form');$th.attr('disabled',true);
		jQuery.ajax({url:'<?php echo Mage::getBaseUrl()?>quickview/index/userchoice',dataType:'json',type:'post',data:cat,success:function(r){
			$th.attr('disabled',false);
			if(r.success){
              $f[0].submit();				
			}else{
				window.location=r.url;
			}
		}
		});
	});
	jQuery(".explorebtn").click(function(){
		//var $th=jQuery(this);
		//var cat=$th.closest('form').serialize();
		//var $f=$th.closest('form');$th.attr('disabled',true);
		jQuery.ajax({url:'<?php echo Mage::getBaseUrl()?>quickview/index/explore',type:'GET',success:function(r){
			console.log('r:'+r);
			jQuery('.loginpop').html(r);
		}
		});
		//jQuery(".logpopup").show();
		//var popup = document.getElementById("myPopup");
    //popup.classList.toggle("show");
	});
});
</script>
<style>
.hid_7,.hid_3,.hid_12,.hid_6,.hid_30,.hid_32,.hid_31,.hid_32,.hid_42,.hid_37,.hid_28,.hid_33,.hid_40,.hid_38 {
   display: none;
}
</style>