<?php
$mageFilename = 'app/Mage.php';
require_once $mageFilename;
Mage::setIsDeveloperMode(true);
ini_set('display_errors', 1);
umask(0);
Mage::app();
$connection = Mage::getSingleton('core/resource')->getConnection('core_read');
$sql        = "SELECT * FROM wp_posts where post_type='post' ORDER BY post_modified_gmt DESC LIMIT 6";
$allpost       = $connection->fetchAll($sql);
//print_r($allpost);
foreach($allpost as $po)
{
	$posturl = $po['guid'];
	$sql        = "SELECT * FROM wp_posts inner join wp_postmeta on wp_posts.ID = wp_postmeta.post_id where wp_postmeta.meta_key = '_wp_attachment_metadata' and wp_posts.post_type='attachment' and wp_posts.post_parent ='".$po['ID']."' limit 1";
   $img_pst       = $connection->fetchAll($sql);
//print_r($img_pst );
   $aa=unserialize ($img_pst[0]['meta_value']);
//print_r($aa);
     $vrc = explode("/",$aa["file"]);
	 $path_url=Mage::getBaseUrl().'blog/wp-content/uploads/';
	 foreach($vrc as $key=>$val)
	 {
		  if($key != (count($vrc)-1))
		  {
		  $path_url .=$val.'/';
		  }
		 
	 }
   ?>
<div class="col-sm-4 col-md-2 col-xs-6  no-padding"><a href='<?php echo $posturl?>' target="_blank"><img class="img-responsive" src='<?php echo $path_url.$aa["sizes"]["thumbnail"]["file"]?>'/></a></div>
<?php  
}
?>