#modall {
	left: 20%;
    margin: 0 auto;
    opacity: 0;
    position: fixed;
    top: 15% !important;
    visibility: hidden;
    z-index: 10000;
}
#modall .modal-contentt {
	background: #fff;
	position: fixed;
	z-index:10000;
	padding:15px;
	border-radius:5px;
	border-bottom: 1px solid #e7e7e7;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	width:800px;	
}

.product-popup-left{
	margin-left: 1%;
    margin-right: 1%;
	width: 45%;
	float:left;
	}
.product-popup-left img{ width:100%;margin-top: 47px;}	
.product-popup-right{
	width: 45%;
	margin-left: 1%;
    margin-right: 1%;
	float:left;
}
#modall .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#modall  .btn_close{ float:right;}
.quick_view_btn{
	background: #87CD75 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 41px 58px;
    /* margin: 100px; */
    position: absolute;
    z-index: 1;
    text-decoration: none;
}
.product_quantity {
    clear: both;
    width: 50%;
    float: left;
}
#qty {
    width: 30px;
}


    Rules
    Computed
    Animations
    Fonts

element {

}
.view_full {

    background: #87CD75;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    color: #fff !important;

}
.view_full a{color:#fff;font-weight:bold}
/**************************3July17***************************/
@media only screen and (min-width: 320px) and (max-width:640px) {

	.products-grid > li {
	width: 96.72727% !important;}
	#modall .modal-contentt {
	width: 288px;height: 440px;top: 18px; right:7px;}
	#modall {
	margin-right: 1%;left: 0%;
	margin-left: 5%;
	}
	.product-popup-left {
		width: 40%;}
	.product-popup-left img {
    margin-top: 0px;}
	.product-popup-right {
    width: 100%;}


}